
h1 {
    text-align: center;
}

body {
    background-color:hsla(0, 100%, 90%, 0.3);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    width: 50%;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: left;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(231, 44, 243);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(255, 164, 240);
  }
  
  caption {
    padding: 10px;

  }

  #tableHeaders {
      font-weight: bold;
  }
  
  #totalOut {
    position: relative;
    left: 65%;
} 

hr { display: block; 
    margin-before: 0.1em; 
    margin-after: 0.1em; 
    margin-start: auto; 
    margin-end: auto; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 2px; 
    border-color: pink;}

    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;